.sec-goods {
  position: relative;
  margin-bottom: 37px;
}

.sec-goods__greenline-catalog::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 23px;
  z-index: -1;
  width: 92%;
  height: 3px;
  background-color: #65a93c;
}

.sec-goods__header {
  display: inline-block;
  margin-bottom: 1px;
  padding-top: 30px;
  padding-right: 21px;
  padding-bottom: 34px;
  // padding-left: 20px;
  // margin-left: -21px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-color: white;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.sec-goods__block {
  margin-bottom: 37px;
}

.sec-goods__item {
  margin-top: 12px;
  padding-bottom: 17px;

  border-bottom: 1px solid $grey-bg;
}

.sec-goods__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.sec-goods__table {
  width: 102%;
  margin-bottom: 14px;
  margin-left: -3px;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
}

.sec-goods__amount {
  padding: 0;
}

.sec-goods__price {
  padding: 0;
  text-align: right;
}

.sec-goods__button {
  padding: 4% 25% 3.6% 25%;
  font-size: 16px;
  line-height: 20px;
}


@media (min-width: $tablet-width) {
  .sec-goods {
    position: relative;
    margin-bottom: 68px;
  }


  .sec-goods__header {
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 0;
    padding-top: 13px;
    padding-right: 36px;
    padding-bottom: 80px;
    padding-left: 37px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    background-color: white;
    border-top: none;
    border-bottom: 1px solid $grey-bg;
  }

  .sec-goods__greenline-catalog::before {
    content: "";
    position: absolute;
    top: 68px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3px;
    background-color: #65a93c;
  }

  .sec-goods__block {
    margin-bottom: 68px;
  }

  .sec-goods__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 26px;
    padding-right: 37px;
    padding-bottom: 27px;
    padding-left: 38px;
    border-bottom: 1px solid $grey-bg;
  }

  .sec-goods__title {
    width: 50%;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
    color: #222222;
    text-transform: uppercase;
  }

  .sec-goods__table {
    width: auto;
    margin-bottom: 14px;
    margin-left: -3px;
    font-size: 14px;
    line-height: 14px;
    font-family: "Arial", "Helvetica", sans-serif;
    color: #444444;
  }

  .sec-goods__amount {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .sec-goods__price {
    padding: 0;
    padding-left: 48px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .sec-goods__button {
    width: 100%;
    padding: 2% 25% 1.2% 25%;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .sec-goods__container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .sec-goods {
    margin-bottom: 14px;
  }

  .sec-goods__block {
    display: block;
    width: 73.5%;
  }

  .sec-goods__header {
    position: relative;
    left: -37px;
    display: inline-block;
    width: 34%;
    margin-bottom: 0;
    padding-top: 16px;
    padding-right: 36px;
    padding-bottom: 80px;
    padding-left: 36px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    background-color: white;
    border-top: none;
    border-bottom: 1px solid $grey-bg;
  }

  .sec-goods__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 14px 0 18px 0;
    border-bottom: 1px solid $grey-bg;
  }

  .sec-goods__title {
    width: 26.7%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    color: #222222;
    text-transform: uppercase;
  }

  .sec-goods__table {
    width: 32.6%;
    margin-bottom: 0;
    margin-left: 48px;
    padding-top: 6px;
    font-size: 14px;
    line-height: 14px;
    font-family: "Arial", "Helvetica", sans-serif;
    color: #444444;
  }

  .sec-goods__amount {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .sec-goods__price {
    padding: 0;
    padding-left: 6px;
    width: 50px;
    text-align: left;
    font-size: 16px;
  }

  .sec-goods__button {
    width: 27.6%;
    margin: 0;
    padding: 1.2% 7% 1% 7%;
    font-size: 16px;
    line-height: 20px;
  }

  .sec-goods__greenline-catalog::before {
    content: "";
    position: absolute;
    top: 71px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: $green-bg;
  }
}
