.sec-goods__header {

  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  border-top: 1px solid $grey-bg;
  border-bottom: 1px solid $grey-bg;
}

.sec-goods__item {
  padding-bottom: 20px;

  border-bottom: 1px solid $grey-bg;
}

.sec-goods__title {
  font-size: 16px;
  line-height: 16px;

  color: #222222;

  text-transform: uppercase;
}

.sec-goods__table {
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", "Helvetica", sans-serif;

  color: #444444;
}
