.sec-goods {
  margin-bottom: 37px;
}

.sec-goods__header {

  padding-top: 30px;
  padding-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 13px;
  border-top: 1px solid $grey-bg;
  border-bottom: 1px solid $grey-bg;
}

.sec-goods__item {
  padding-bottom: 17px;
  margin-top: 12px;

  border-bottom: 1px solid $grey-bg;
}

.sec-goods__title {
  font-size: 16px;
  line-height: 16px;
  margin-top: 0;
  color: #222222;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.sec-goods__table {
  width: 102%;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-bottom: 14px;
  color: #444444;
  margin-left: -3px;
}

.sec-goods__amount {
  padding: 0;
}

.sec-goods__price {
  padding: 0;
  text-align: right;
}

.sec-goods__button {
  font-size: 16px;
  line-height: 20px;
  padding: 4% 25% 3.6% 25%;
}