.header__container {
  position: relative;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 708px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px 0 30px;
  }
}
