.form__start {
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  color: #222;
}

.form__header {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  text-transform: none;
}

.form__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  text-transform: none;
}

.form__desc {
  font-size: 14px;

  text-transform: uppercase;
}

.form__task {
  border-top: 1px solid $grey-bg;
  border-bottom: 1px solid $grey-bg;
}

.form__radio {
  position: relative;

  display: block;

  margin-bottom: 20px;
  margin-left: 50px;
}

.form__radio::after {
  position: absolute;
  left: -40px;

  width: 20px;
  height: 20px;

  content: "";

  border: 1px solid black;
  border-radius: 10px;
}

.btn-1:checked ~ .form__radio--slim::before {
  position: absolute;
  top: 5px;
  left: -35px;

  width: 10px;
  height: 10px;

  content: "";

  border-radius: 10px;
  background-color: $green-bg;
}

.btn-2:checked ~ .form__radio--pro::before {
  position: absolute;
  top: 5px;
  left: -35px;

  width: 10px;
  height: 10px;

  content: "";

  border-radius: 10px;
  background-color: $green-bg;
}

.btn-3:checked ~ .form__radio--advise::before {
  position: absolute;
  top: 5px;
  left: -35px;

  width: 10px;
  height: 10px;

  content: "";

  border-radius: 10px;
  background-color: $green-bg;
}

.form__checkbox {
  display: block;
}
