.form__start {
  font-size: 16px;
  line-height: 18px;

  color: #222222;

  text-transform: uppercase;
}

.form__header {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;

  text-transform: none;
}

.form__info {
  margin: 0;
  padding: 0;
}

.form__block-info {
  display: flex;
  flex-direction: column;
}

.form__p {
  display: flex;
  align-items: center;
}

.form__nwa {
  width: 100%;
  margin-left: 15px;
  padding: 14px 15px 15px 15px;
  color: #444444;
  border: 1px solid #e6e6e6;
}

.form__title {
  display: inline-block;
  padding: 0 22px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  background-color: white;
}

.form__desc {
  font-size: 14px;

  text-transform: uppercase;
}

.form__task {
  margin: 0;
  padding: 0;
  border-top: 1px solid $grey-bg;
  border-bottom: 1px solid $grey-bg;
}

.form__task-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__radio {
  position: relative;

  display: block;
  width: 200px;
  margin-bottom: 24px;
  margin-left: 41px;
}

.form__radio::after {

  content: "";
  position: absolute;
  top: -5px;
  left: -40px;
  width: 28px;
  height: 28px;

  border: 1px solid #444444;
  border-radius: 50%;
}

.btn-1:checked ~ .form__radio--slim::before {

  content: "";
  position: absolute;
  top: 3px;
  left: -32px;

  width: 12px;
  height: 12px;
  background-color: $green-bg;

  border-radius: 10px;
}

.btn-2:checked ~ .form__radio--pro::before {

  content: "";
  position: absolute;
  top: 3px;
  left: -32px;

  width: 12px;
  height: 12px;
  background-color: $green-bg;

  border-radius: 10px;
}

.btn-3:checked ~ .form__radio--advise::before {

  content: "";
  position: absolute;
  top: 3px;
  left: -32px;

  width: 12px;
  height: 12px;
  background-color: $green-bg;

  border-radius: 10px;
}

.form__contact {
  margin: 0;
  padding: 0;
}

.form__comment {
  margin: 0;
  padding: 0;
}

.form__area {
  width: 100%;
  min-height: 148px;
  padding: 14px 15px;
  border: 1px solid #e6e6e6;
  resize: none;
}

.form__add {
  margin: 0;
  padding: 0;
}

.form__add-block {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  margin-bottom: 24px;
  margin-left: 0;
  padding-left: 45px;
}

.form__checkbox::after {

  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cfcfcf;
}

.sugar:checked ~ .form__checkbox--sugar::before {

  content: "";
  position: absolute;
  top: -4px;
  left: 10px;
  width: 11px;
  height: 20px;
  border: 2px solid $green-bg;
  border-top: none;
  border-left: none;
  transform: rotate(42deg);
}

.water:checked ~ .form__checkbox--water::before {

  content: "";
  position: absolute;
  top: -4px;
  left: 10px;
  width: 11px;
  height: 20px;
  border: 2px solid $green-bg;
  border-top: none;
  border-left: none;
  transform: rotate(42deg);
}

.milk:checked ~ .form__checkbox--milk::before {

  content: "";
  position: absolute;
  top: -4px;
  left: 10px;
  width: 11px;
  height: 20px;
  border: 2px solid $green-bg;
  border-top: none;
  border-left: none;
  transform: rotate(42deg);
}

.vitamin:checked ~ .form__checkbox--vitamin::before {

  content: "";
  position: absolute;
  top: -4px;
  left: 10px;
  width: 11px;
  height: 20px;
  border: 2px solid $green-bg;
  border-top: none;
  border-left: none;
  transform: rotate(42deg);
}

.form__button {
  display: block;
  width: 100%;
  margin-right: auto;
  padding: 3.7% 20% 3.7% 20%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $main-font;
  text-align: center;
  border: none;
}

.form__legend {
  position: relative;
}

.form__greenline::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 30px;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: #65a93c;
}

@media (min-width: $tablet-width) {
  .form__start {
    font-size: 20px;
    line-height: 20px;

    color: #222222;

    text-transform: uppercase;
  }

  .form__header {
    margin-top: 28px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
  }

  .form__info {
    margin: 0;
    padding: 0;
  }

  .form__block-info {
    display: flex;
    flex-direction: column;
  }

  .form__p {
    display: flex;
    align-items: center;
  }

  .form__nwa {
    width: 100%;
    margin-left: 15px;
    padding: 10px 19px 10px 17px;
    font-size: 20px;
    line-height: 20px;
    font-family: $main-font;
    color: #444444;
    text-transform: uppercase;
    border: 1px solid #e6e6e6;
  }

  .form__nwa::placeholder {
    font-size: 20px;
    line-height: 20px;
    font-family: $main-font;
    text-transform: uppercase;
  }

  .form__title {
    display: inline-block;
    padding: 0 22px 0 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
    background-color: white;
  }

  .form__desc {
    width: 380px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .form__task {
    margin: 0;
    padding: 0;
    border-top: 1px solid $grey-bg;
    border-bottom: 1px solid $grey-bg;
  }

  .form__task-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
    border: 1px solid #444444;
  }

  .form__radio {
    position: relative;

    display: block;
    width: 70%;
    margin-bottom: 24px;
    margin-left: 41px;
  }

  .form__radio::after {

    content: "";
    position: absolute;
    top: -5px;
    left: -40px;
    width: 28px;
    height: 28px;

    border: 1px solid #444444;
    border-radius: 50%;
  }

  .btn-1:checked ~ .form__radio--slim::before {

    content: "";
    position: absolute;
    top: 3px;
    left: -32px;

    width: 12px;
    height: 12px;
    background-color: $green-bg;

    border-radius: 10px;
  }

  .btn-2:checked ~ .form__radio--pro::before {

    content: "";
    position: absolute;
    top: 3px;
    left: -32px;

    width: 12px;
    height: 12px;
    background-color: $green-bg;

    border-radius: 10px;
  }

  .btn-3:checked ~ .form__radio--advise::before {

    content: "";
    position: absolute;
    top: 3px;
    left: -32px;

    width: 12px;
    height: 12px;
    background-color: $green-bg;

    border-radius: 10px;
  }

  .form__contact {
    margin: 0;
    padding: 0;
  }

  .form__comment {
    margin: 0;
    padding: 0;
  }

  .form__area {
    width: 100%;
    min-height: 148px;
    padding: 14px 15px;
    font-size: 20px;
    line-height: 20px;
    font-family: $main-font;
    text-transform: uppercase;
    border: 1px solid #e6e6e6;
    resize: none;
  }

  .form__add {
    margin: 0;
    padding: 0;
  }

  .form__add-block {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .form__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    margin-bottom: 24px;
    margin-left: 0;
    padding-left: 45px;
  }

  .form__checkbox::after {

    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cfcfcf;
  }

  .sugar:checked ~ .form__checkbox--sugar::before {

    content: "";
    position: absolute;
    top: -4px;
    left: 10px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .water:checked ~ .form__checkbox--water::before {

    content: "";
    position: absolute;
    top: -4px;
    left: 10px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .milk:checked ~ .form__checkbox--milk::before {

    content: "";
    position: absolute;
    top: -4px;
    left: 10px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .vitamin:checked ~ .form__checkbox--vitamin::before {

    content: "";
    position: absolute;
    top: -4px;
    left: 10px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .form__button {
    display: block;
    width: 100%;
    margin-right: auto;
    padding: 3.7% 20% 3.7% 20%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: $main-font;
    text-align: center;
    border: none;
  }

  .form__legend {
    position: relative;
  }

  .form__greenline::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 30px;
    z-index: -1;
    width: 90%;
    height: 2px;
    background-color: $green-bg;
  }
}


@media (min-width: $desktop-width) {
  .form__start {
    font-size: 20px;
    line-height: 20px;

    color: #222222;

    text-transform: uppercase;
  }

  .form__header {
    margin-top: 61px;
    margin-bottom: 55px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
  }

  .form__desk-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 29px;
  }

  .form__info {
    display: flex;
    width: 46.7%;
    margin: 0;
    padding: 0;
  }

  .form__block-info {
    display: flex;
    flex-direction: column;
  }

  .form__p {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .form__nwa {
    width: 100%;
    margin-left: 15px;
    padding: 10px 19px 10px 17px;
    font-size: 20px;
    line-height: 20px;
    font-family: $main-font;
    color: #444444;
    text-transform: uppercase;
    border: 1px solid #e6e6e6;
  }

  .form__nwa::placeholder {
    font-size: 20px;
    line-height: 20px;
    font-family: $main-font;
    text-transform: uppercase;
  }

  .form__title {
    display: inline-block;
    margin-bottom: 65px;
    margin-left: -38px;
    padding: 0 41px 0 37px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
    background-color: white;
  }

  .form__desc {
    width: 380px;
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .form__task {
    display: flex;

    width: 46.7%;
    margin: 0;
    padding: 20px 0;
    border: none;
  }

  .form__task-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding: 24px 24px 0 24px;
    border: 1px solid #e6e6e6;
  }

  .form__radio {
    position: relative;

    display: block;
    width: 70%;
    margin-bottom: 24px;
    margin-left: 41px;
  }

  .form__radio::after {

    content: "";
    position: absolute;
    top: -5px;
    left: -40px;
    width: 38px;
    height: 38px;

    border: 1px solid #444444;
    border-radius: 50%;
  }

  .btn-1:checked ~ .form__radio--slim::before {

    content: "";
    position: absolute;
    top: 5px;
    left: -30px;

    width: 18px;
    height: 18px;
    background-color: $green-bg;

    border-radius: 50%;
  }

  .btn-2:checked ~ .form__radio--pro::before {

    content: "";
    position: absolute;
    top: 5px;
    left: -30px;

    width: 18px;
    height: 18px;
    background-color: $green-bg;

    border-radius: 50%;
  }

  .btn-3:checked ~ .form__radio--advise::before {

    content: "";
    position: absolute;
    top: 5px;
    left: -30px;

    width: 18px;
    height: 18px;
    background-color: $green-bg;

    border-radius: 50%;
  }

  .form__contact {
    margin: 0;
    padding: 0;
  }

  .form__email {
    width: 46.7%;
  }

  .form__numb {
    width: 46.7%;
  }

  .form__comment {
    margin: 0;
    padding: 0;
  }

  .form__area {
    width: 100%;
    min-height: 174px;
    margin-top: 10px;
    margin-bottom: 36px;
    padding: 14px 15px;
    font-size: 20px;
    line-height: 20px;
    font-family: $main-font;
    text-transform: uppercase;
    border: 1px solid #e6e6e6;
    resize: none;
  }

  .form__add {
    margin: 0;
    margin-bottom: 81px;
    padding: 0;
  }

  .form__add-block {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0;
  }

  .form__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    width: 20%;
    margin-bottom: 24px;
    margin-left: 0;
    padding-left: 58px;
  }

  .form__checkbox::after {

    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #cfcfcf;
  }

  .sugar:checked ~ .form__checkbox--sugar::before {

    content: "";
    position: absolute;
    top: -1px;
    left: 15px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .water:checked ~ .form__checkbox--water::before {

    content: "";
    position: absolute;
    top: -1px;
    left: 15px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .milk:checked ~ .form__checkbox--milk::before {

    content: "";
    position: absolute;
    top: -1px;
    left: 15px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .vitamin:checked ~ .form__checkbox--vitamin::before {

    content: "";
    position: absolute;
    top: -1px;
    left: 15px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .form__button {
    display: block;
    width: 46.6%;
    margin-top: 49px;
    margin-right: auto;
    margin-left: 1px;
    padding: 1.3% 10%;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "arial", serif;
    text-align: center;
    border: none;
  }

  .form__required {
    width: 45.8%;
    font-size: 16px;
    line-height: 16px;
    font-family: "Arial", "Helvetica", serif;
    text-transform: none;
  }

  .form__legend {
    position: relative;
    width: 100%;
  }

  .form__greenline::before {
    content: "";
    position: absolute;
    top: 52px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: $green-bg;
  }
}
