.form__start {
  font-size: 16px;
  line-height: 18px;

  color: #222222;

  text-transform: uppercase;
}

.form__container {
  display: block;
}

.form__header {
  margin-top: 15px;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
}

.form__desc {
  margin-bottom: 29px;
  padding: 0 20px 0 0;
  font-size: 14px;
  text-transform: uppercase;
}

.form__info {
  margin: 0;
  padding: 0;
}

.form__block-info {
  display: flex;
  flex-direction: column;
}

.form__p {
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 0;
}

.form__nwa {
  width: 100%;
  margin-left: 13px;
  padding: 11px 13px 12px;
  font-size: 16px;
  font-family: "Oswald", "arial", serif;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
}

.form__title {
  display: inline-block;
  margin-top: 28px;
  margin-bottom: 24px;
  padding: 0 22px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  background-color: white;
}

.form__task {
  margin: 22px 0 0 0;
  padding: 20px 0 10px 0;
  border-top: 1px solid $grey-bg;
  border-bottom: 1px solid $grey-bg;
}

.form__task-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__radio {
  position: relative;
  display: block;
  width: 200px;
  margin-top: 7px;
  margin-bottom: 17px;
  margin-left: 41px;
  padding-left: 5px;
}

.form__radio::after {

  content: "";
  position: absolute;
  top: -5px;
  left: -40px;
  width: 28px;
  height: 28px;

  border: 1px solid #444444;
  border-radius: 50%;
}

.btn-1:checked ~ .form__radio--slim::before {

  content: "";
  position: absolute;
  top: 3px;
  left: -32px;

  width: 12px;
  height: 12px;
  background-color: $green-bg;

  border-radius: 10px;
}

.btn-2:checked ~ .form__radio--pro::before {

  content: "";
  position: absolute;
  top: 3px;
  left: -32px;

  width: 12px;
  height: 12px;
  background-color: $green-bg;

  border-radius: 10px;
}

.btn-3:checked ~ .form__radio--advise::before {

  content: "";
  position: absolute;
  top: 3px;
  left: -32px;

  width: 12px;
  height: 12px;
  background-color: $green-bg;

  border-radius: 10px;
}

.form__contact {
  margin: 0;
  padding: 0;
}

.form__nwa--email {
  margin-left: 8px;
  padding-right: 12%;
}

.form__email {
  position: relative;
}

.form__email::after {
  content: " ";
  position: absolute;
  top: 35%;
  left: 88.2%;
  width: 17px;
  height: 15px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
}

.form__nwa--numb {
  margin-left: 8px;
  padding-right: 12%;
  padding-left: 15px;
}

.form__numb {
  position: relative;
}

.form__numb::after {
  content: " ";
  position: absolute;
  top: 35%;
  left: 88.2%;
  width: 19px;
  height: 18px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.form__desk-block {
  margin-bottom: -1px;
}

.form__comment {
  margin: 0;
  padding: 0;
}

.form__area {
  width: 100%;
  min-height: 148px;
  margin-top: 12px;
  padding: 10px 13px;
  font-size: 16px;
  font-family: $main-font;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  resize: none;
}

.form__add {
  margin: 0;
  padding: 0;
}

.form__add-block {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  padding-left: 0;
}

.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  margin-bottom: 24px;
  margin-left: 0;
  padding-left: 45px;
}

.form__checkbox::after {

  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cfcfcf;
}

.sugar:checked ~ .form__checkbox--sugar::before {

  content: "";
  position: absolute;
  top: -4px;
  left: 10px;
  width: 11px;
  height: 20px;
  border: 2px solid $green-bg;
  border-top: none;
  border-left: none;
  transform: rotate(42deg);
}

.water:checked ~ .form__checkbox--water::before {

  content: "";
  position: absolute;
  top: -4px;
  left: 10px;
  width: 11px;
  height: 20px;
  border: 2px solid $green-bg;
  border-top: none;
  border-left: none;
  transform: rotate(42deg);
}

.milk:checked ~ .form__checkbox--milk::before {

  content: "";
  position: absolute;
  top: -4px;
  left: 10px;
  width: 11px;
  height: 20px;
  border: 2px solid $green-bg;
  border-top: none;
  border-left: none;
  transform: rotate(42deg);
}

.vitamin:checked ~ .form__checkbox--vitamin::before {

  content: "";
  position: absolute;
  top: -4px;
  left: 10px;
  width: 11px;
  height: 20px;
  border: 2px solid $green-bg;
  border-top: none;
  border-left: none;
  transform: rotate(42deg);
}

.form__button {
  display: block;
  width: 100%;
  margin-top: 16px;
  margin-right: auto;
  padding: 3.7% 20% 3.7% 20%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $main-font;
  text-align: center;
  border: none;
}

.form__required {
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-size: 14px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-transform: none;
}

.footer__card-form {
  background-color: #f2f2f2;
}

.form__legend {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.form__greenline::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 30px;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: #65a93c;
}

@media (min-width: $tablet-width) {
  .form__start {
    font-size: 20px;
    line-height: 20px;

    color: #222222;

    text-transform: uppercase;
  }

  .form__header {
    margin-top: 42px;
    margin-bottom: 55px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
  }

  .form__info {
    margin: 0;
    padding: 0;
  }

  .form__block-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .form__p {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  .form__nwa {
    width: 100%;
    margin-left: 15px;
    padding: 10px 19px 10px 17px;
    font-size: 20px;
    line-height: 20px;
    font-family: $main-font;
    color: #444444;
    text-transform: uppercase;
    border: 1px solid #e6e6e6;
  }

  .form__nwa::placeholder {
    font-size: 20px;
    line-height: 20px;
    font-family: $main-font;
    text-transform: uppercase;
  }

  .form__title {
    display: inline-block;
    margin-left: 0;
    padding: 0 42px 0 39px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
    background-color: white;
  }

  .form__desc {
    width: 380px;
    margin-bottom: 58px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .form__desk-block {
    margin-top: 53px;
    margin-right: 37px;
    margin-bottom: 37px;
    margin-left: 41px;
  }

  .form__task {
    margin: 0;
    margin-bottom: 47px;
    padding: 0;
    border: 1px solid #e6e6e6;
  }

  .form__task-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px 24px 11px;
  }

  .form__radio {
    position: relative;
    display: block;
    width: 90%;
    margin-bottom: 24px;
    margin-left: 48px;
    padding-top: 2px;
    padding-left: 14px;
  }

  .form__radio::after {
    content: "";
    position: absolute;
    top: -7px;
    left: -44px;
    width: 38px;
    height: 38px;
    border: 1px solid #444444;
    border-radius: 50%;
  }

  .btn-1:checked ~ .form__radio--slim::before {

    content: "";
    position: absolute;
    top: 3px;
    left: -34px;
    width: 18px;
    height: 18px;
    background-color: #65a93c;
    border-radius: 50%;
  }

  .btn-2:checked ~ .form__radio--pro::before {

    content: "";
    position: absolute;
    top: 3px;
    left: -34px;
    width: 18px;
    height: 18px;
    background-color: #65a93c;
    border-radius: 50%;
  }

  .btn-3:checked ~ .form__radio--advise::before {

    content: "";
    position: absolute;
    top: 3px;
    left: -34px;
    width: 18px;
    height: 18px;
    background-color: #65a93c;
    border-radius: 50%;
  }

  .form__contact {
    margin: 0;
    padding: 0;
  }

  .form__email {
    margin-bottom: 19px;
  }

  .form__email::after {
    top: 20px;
    left: 94.3%;
  }

  .form__numb::after {
    top: 20px;
    left: 94.3%;
  }

  .form__comment {
    margin: 0;
    padding: 0;
  }

  .form__area {
    width: 89%;
    min-height: 174px;
    margin-top: 52px;
    margin-bottom: 36px;
    margin-left: 40px;
    padding: 14px 18px;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "arial", serif;
    text-transform: uppercase;
    border: 1px solid #e6e6e6;
    resize: none;
  }

  .form__add {
    margin: 0;
    padding: 0;
  }

  .form__add-block {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 42px;
    margin-bottom: 72px;
    padding-left: 0;
  }

  .form__checkbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43%;
    margin-bottom: 52px;
    margin-left: 40px;
    padding-left: 58px;
  }

  .form__checkbox::after {

    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #cfcfcf;
  }

  .sugar:checked ~ .form__checkbox--sugar::before {

    content: "";
    position: absolute;
    top: -3px;
    left: 15px;

    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .water:checked ~ .form__checkbox--water::before {

    content: "";
    position: absolute;
    top: -3px;
    left: 15px;

    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .milk:checked ~ .form__checkbox--milk::before {

    content: "";
    position: absolute;
    top: -3px;
    left: 15px;

    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .vitamin:checked ~ .form__checkbox--vitamin::before {

    content: "";
    position: absolute;
    top: -3px;
    left: 15px;

    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .form__button {
    display: block;
    width: 40%;
    margin-top: 13px;
    margin-right: auto;
    margin-left: 41px;
    padding: 16px 9px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "arial", serif;
    text-align: center;
    border: 0;
  }

  .form__required {
    margin: 0;
    margin-top: 27px;
    margin-right: 144px;
    font-size: 16px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-transform: none;
  }


  .form__legend {
    position: relative;
    overflow: hidden;
  }

  .form__greenline::before {
    content: "";
    position: absolute;
    top: 51px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3px;
    background-color: $green-bg;
  }
}


@media (min-width: $desktop-width) {
  .form__start {
    font-size: 20px;
    line-height: 20px;

    color: #222222;

    text-transform: uppercase;
  }

  .form__header {
    margin-top: 75px;
    margin-bottom: 55px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
  }

  .form__desk-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 55px 0 0 1px;
  }

  .form__info {
    display: flex;
    width: 46.7%;
    margin: 0;
    padding: 0;
  }

  .form__block-info {
    display: flex;
    flex-direction: column;
  }

  .form__p {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .form__nwa {
    width: 100%;
    margin-left: 15px;
    padding: 10px 19px 10px 17px;
    font-size: 20px;
    line-height: 20px;
    font-family: $main-font;
    color: #444444;
    text-transform: uppercase;
    border: 1px solid #e6e6e6;
  }

  .form__nwa::placeholder {
    font-size: 20px;
    line-height: 20px;
    font-family: $main-font;
    text-transform: uppercase;
  }

  .form__title {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: -38px;
    margin-top: 0;
    padding: 0 41px 0 37px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
    background-color: white;
  }

  .form__desc {
    width: 380px;
    margin-bottom: 56px;
    margin-left: 0;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .form__task {
    display: flex;

    width: 46.7%;
    margin: 0;
    padding: 10px 0 70px 0;
    border: none;
  }

  .form__task-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
    padding: 24px 24px 0 24px;
    border: 1px solid #e6e6e6;
  }

  .form__radio {
    position: relative;
    display: block;
    width: 70%;
    padding-left: 18px;
    margin-bottom: 24px;
    margin-left: 43px;
  }

  .form__radio::after {

    content: "";
    position: absolute;
    top: -5px;
    left: -40px;
    width: 38px;
    height: 38px;

    border: 1px solid #444444;
    border-radius: 50%;
  }

  .btn-1:checked ~ .form__radio--slim::before {

    content: "";
    position: absolute;
    top: 5px;
    left: -30px;

    width: 18px;
    height: 18px;
    background-color: $green-bg;

    border-radius: 50%;
  }

  .btn-2:checked ~ .form__radio--pro::before {

    content: "";
    position: absolute;
    top: 5px;
    left: -30px;

    width: 18px;
    height: 18px;
    background-color: $green-bg;

    border-radius: 50%;
  }

  .btn-3:checked ~ .form__radio--advise::before {

    content: "";
    position: absolute;
    top: 5px;
    left: -30px;

    width: 18px;
    height: 18px;
    background-color: $green-bg;

    border-radius: 50%;
  }

  .form__contact {
    margin: 0;
    margin-bottom: 58px;
    padding: 0;
  }

  .form__email {
    width: 46.7%;
  }

  .form__numb {
    width: 46.7%;
  }

  .form__comment {
    margin: 0;
    padding: 0;
  }

  .form__area {
    width: 100%;
    min-height: 174px;
    margin-top: 65px;
    margin-left: 0;
    margin-bottom: 67px;
    padding: 14px 18px;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "arial", serif;
    text-transform: uppercase;
    border: 1px solid #e6e6e6;
    resize: none;
  }

  .form__add {
    margin: 0;
    margin-bottom: 81px;
    padding: 0;
  }

  .form__add-block {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    margin-bottom: 3px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0;
  }

  .form__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    width: 20%;
    margin-bottom: 24px;
    margin-left: 0;
    padding-left: 58px;
  }

  .form__checkbox::after {

    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #cfcfcf;
  }

  .sugar:checked ~ .form__checkbox--sugar::before {

    content: "";
    position: absolute;
    top: -1px;
    left: 15px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .water:checked ~ .form__checkbox--water::before {

    content: "";
    position: absolute;
    top: -1px;
    left: 15px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .milk:checked ~ .form__checkbox--milk::before {

    content: "";
    position: absolute;
    top: -1px;
    left: 15px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .vitamin:checked ~ .form__checkbox--vitamin::before {

    content: "";
    position: absolute;
    top: -1px;
    left: 15px;
    width: 11px;
    height: 20px;
    border: 2px solid $green-bg;
    border-top: none;
    border-left: none;
    transform: rotate(42deg);
  }

  .form__button {
    display: block;
    width: 46.6%;
    margin-top: 49px;
    margin-right: auto;
    margin-left: 1px;
    padding: 1.3% 10%;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "arial", serif;
    text-align: center;
    border: none;
  }

  .form__required {
    width: 34.4%;
    margin-left: 0;
    font-size: 16px;
    line-height: 16px;
    font-family: "Arial", "Helvetica", serif;
    text-transform: none;
  }

  .form__legend {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .form__greenline::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3px;
    background-color: #65a93c;
  }
}
