.bonus {
  margin-bottom: 36px;
}

.bonus__image {
  width: 100%;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}

.bonus__block {
  position: relative;

  margin-bottom: 30px;
}

.bonus__gift {
  position: absolute;
  top: 26%;
  left: 39%;
  width: 65px;
  height: 60px;

  fill: white;
}

.bonus__title {
  padding-top: 188px;
    padding-left: 50px;
    padding-right: 50px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;

  text-align: center;

  color: white;
}
