.bonus {
  margin-bottom: 36px;
}

.bonus__image {
  width: 100%;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.bonus__block {
  position: relative;

  margin-bottom: 30px;
}

.bonus__gift {
  position: absolute;
  top: 26%;
  left: 39%;
  width: 65px;
  height: 60px;

  fill: white;
}

.bonus__title {
  padding-top: 188px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;

  text-align: center;

  color: white;
}


@media (min-width: $tablet-width) {
  .bonus {
    margin-bottom: 72px;
  }

  .bonus__image {
    width: 100%;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .bonus__block {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 65px 86px;
  }

  .bonus__gift-block {
    position: relative;
    width: auto;
    height: auto;
  }

  .bonus__gift {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 60px;

    fill: white;
  }

  .bonus__title {
    width: 170px;
    margin: 0;
    margin-right: 53px;
    padding-top: 7px;
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    color: white;
  }
}


@media (min-width: $desktop-width) {
  .bonus {
    margin-bottom: 0;
    width: 20%;
  }

  .bonus__image {
    width: 100%;
    height: 80%;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .bonus__block {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0;
  }

  .bonus__gift-block {
    position: relative;
    width: auto;
    height: auto;
  }

  .bonus__gift {
    position: absolute;
    top: 63px;
    left: 90px;
    width: 65px;
    height: 60px;
    fill: #fff;
  }

  .bonus__title {
    width: 170px;
    margin: 0;
    margin: 178px auto 0;
    padding-top: 7px;
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    color: white;
  }
}
