.bonus__image {
  width: 100%;
  height: 289px;
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.bonus__block {
  position: relative;

  margin-bottom: 30px;
}

.bonus__gift {
  position: absolute;
  top: 70px;
  left: 110px;

  width: 56px;
  height: 56px;

  fill: white;
}

.bonus__title {
  width: 170px;
  padding-top: 150px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;

  text-align: center;

  color: white;
}
