.list{
margin: -3px 0 40px 0;
}

.list__block {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 0;
  padding-top: 0;
}

.list__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 28px;
  margin-top: 0;
}

.list__item {
  display: flex;
  margin-bottom: 20px;
}

.list__green-box {
  width: 60px;
  height: 60px;
  background-color: $green-bg;
  margin-right: 20px;
}

.list__img {
  position: relative;
  left: 5px;
  top: 5px;
}

.list__text-block {
  width: 160px;
}

.list__text {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  margin: 2px 0 0 0;
  width: 200px;
}
