.footer {
  position: relative;
}

.footer__card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 7px;
}

.footer__card-catalog {
  background-color: $grey-bg;
}

.footer__welcome {

  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.footer__adress {

  width: 140px;
  margin-top: 21px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
}

.footer__adress-city {
  margin-top: -15px;
}

.footer__container-map {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;

  background-color: $grey-bg;
  background-image: url("../img/bg-map-mobile@1x.png");
}

.footer__container-map::before {

  content: "";
  position: absolute;

  width: 100%;
  height: 400px;

  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.footer__map {
  width: 100%;
  height: 367px;
}

.footer__container-bottom {
  padding-top: 25px;
}

.footer__logo {
  width: 280px;
  height: 49px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: -44px 0;
}

.footer__container-bottom {
  background-color: $grey-bg;
}

.social__items {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-self: center;

  padding: 20px 0 20px 0;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  display: flex;

  margin-right: 17px;
  margin-left: 17px;
}

.social__link {
  width: 22px;
  height: 22px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link--vk {
  background-image: url("../img/icon-vk-mobile.svg");
}

.social__link--inst {
  background-image: url("../img/icon-insta-mobile.svg");
  background-size: 16px;
}

.social__link--fb {
  background-image: url("../img/icon-fb-mobile.svg");
  background-position: 0 50%;
}

.social__link-academy {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.social__link-academy--text {
  font-weight: 400;
  font-size: 16px;
  font-family: "Arial", "Helvetica", sans-serif;

  color: #666666;
}


@media (min-width: $tablet-width) {
  .footer {
    position: relative;
  }
  
  .footer__card {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    flex-wrap: wrap;
    margin-bottom: 34px;
  }
  
  .footer__card-catalog {
    background-color: $grey-bg;
  }
  
  .footer__welcome {
    width: 140px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    word-wrap: normal;
    text-transform: uppercase;
  }
  
  .footer__adress {
    font-size: 16px;
    width: 170px;
    margin-top: 24px;
    margin-right: 2px;
    line-height: 20px;
    text-align: right;
    font-family: "Arial", "Helvetica", sans-serif;
  }
  
  .footer__adress-city{
    margin-top: 20px;
  }

  .footer__container-map {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
    background-color: $grey-bg;
    background-image: url("../img/bg-map-mobile@1x.png");
  }
  
  .footer__container-map::before {
  
    content: "";
    position: absolute;
  
    width: 100%;
    height: 396px;
  
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }
  
  .footer__map {
    width: 100%;
    height: 396px;
  }
  
  .footer__container-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    flex-direction: row;
    background-color: $grey-bg;
  }

  .footer__logo {
    display: inline-block;
    width: 250px;
    height: 48px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-top: 1px;
    margin-right: 0;
    background-image: url("../img/logo-mobile.svg");
    background-repeat: no-repeat;
    background-position: -116px 0;
  }

  .footer__social {
    display: flex;
  }
  
  .social__block {
    margin-right: 110px;
    margin-left: 10px;
  }



  .social__items {
    display: flex;
    flex-wrap: wrap;
  
    justify-content: center;
    align-self: center;
  
    padding: 0px 0 20px 11px;
    margin-top: 6px;
    border-top: none;
    border-bottom: none;
  }
  
  .social__item {
    display: flex;
  
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .social__link {
    width: 32px;
    height: 32px;
  
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .social__link--vk {
    background-image: url("../img/icon-vk-mobile.svg");
    background-size: 33px;
  }
  
  .social__link--inst {
    margin-top: 1px;
    margin-left: 2px;
    background-image: url("../img/icon-insta-mobile.svg");
    background-size: 23px;
  }
  
  .social__link--fb {
    background-image: url("../img/icon-fb-mobile.svg");
    background-position: 0 50%;
    background-size: 15px;
    margin-left: 4px;
    margin-top: 1px;
  }
  
  .social__link-academy {
    display: flex;
    margin-top: -26px;
    margin-left: -1px;
    justify-content: space-between;
    align-items: center;
  }
  
  .social__link-academy--text {
    font-weight: 400;
    font-size: 16px;
    font-family: "Arial", "Helvetica", sans-serif;
  
    color: #666666;
  }

  .social__link-academy--logo {
    margin-left: 16px;
    margin-top: -3px;
  }
}