.footer {
  position: relative;
}

.footer__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 7px;
}

.footer__card-catalog {
  background-color: $grey-bg;
}

.footer__welcome {

  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.footer__adress {

  width: 140px;
  margin-top: 21px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
}

.footer__adress-city {
  margin-top: -15px;
}

.footer__container-map {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;

  background-color: $grey-bg;
  background-image: url("../img/bg-map-mobile@1x.png");
  // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //   background-image: url("../img/bg-map-mobile@2x.png");
  //   background-size: 100%;
  // }
}

.footer__container-map::before {

  content: "";
  position: absolute;

  width: 100%;
  height: 400px;

  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.footer__map {
  width: 100%;
  height: 367px;
}

.footer__container-bottom {
  padding-top: 25px;
  background-color: $grey-bg;
}

.social__logo-footer {
  display: inline-block;
  width: 129px;
  height: 49px;
  margin-top: 12px;
  margin-right: 27%;
  margin-bottom: 0;
  margin-left: 27%;
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: opasity ease-in-out 0.3s;
}

.social__logo-footer:hover {
  opacity: 0.8;
  transition: opasity ease-in-out 0.3s;
}

.social__logo-footer:active {
  opacity: 0.6;
  transition: opasity ease-in-out 0.3s;
}

.social__items {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-self: center;

  padding: 20px 0 20px 0;
  margin-top: 3px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  display: flex;

  margin-right: 17px;
  margin-left: 17px;
}

.social__item:hover {
  opacity: 0.8;
  transition: opasity ease-in-out 0.3s;
}

.social__item:active {
  opacity: 0.6;
  transition: opasity ease-in-out 0.3s;
}

.social__link {
  width: 22px;
  height: 22px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link--vk {
  background-image: url("../img/icon-vk-mobile.svg");
}

.social__link--inst {
  background-image: url("../img/icon-insta-mobile.svg");
  background-size: 16px;
}

.social__link--fb {
  background-image: url("../img/icon-fb-mobile.svg");
  background-position: 0 50%;
}

.social__link-academy {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.social__link-academy:hover {
  opacity: 0.8;
  transition: opasity ease-in-out 0.3s;
}

.social__link-academy:active {
  opacity: 0.6;
  transition: opasity ease-in-out 0.3s;
}

.social__academy-text {
  font-weight: 400;
  font-size: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-left: -2px;
  color: #666666;
}


@media (min-width: $tablet-width) {
  .footer {
    position: relative;
  }

  .footer__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 34px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .footer__card-form {
    background-color: #f2f2f2;
    padding-top: 30px;
    margin-bottom: -34px;
  }

  .footer__card-catalog {
    background-color: $grey-bg;
    padding-top: 33px;
    padding-bottom: 1px;
  }

  .footer__welcome {
    width: 140px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 29px;
    line-height: 25px;
    text-transform: uppercase;
    word-wrap: normal;
  }

  .footer__adress {
    width: 170px;
    margin-top: 26px;
    margin-right: 2px;
    font-size: 16px;
    line-height: 20px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: right;
  }

  .footer__adress-city {
    margin-top: 20px;
  }

  .footer__container-map {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
    background-size: cover;
    background-color: $grey-bg;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .footer__container-map::before {

    content: "";
    position: absolute;

    width: 100%;
    height: 396px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }

  .footer__map {
    width: 100%;
    height: 396px;
  }

  .footer__map-form {
    height: 429px;
  }

  .footer__container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 51px;
    background-color: $grey-bg;
  }

  .social__logo-footer {
    display: inline-block;
    width: 129px;
    height: 48px;
    margin-top: 13px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-image: url("../img/logo-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .footer__social {
    display: flex;
  }

  .social__block {
    margin-right: -12px;
    margin-left: 10px;
  }

  .social__items {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-self: center;
    margin-top: 6px;

    padding: 0 0 20px 11px;
    border-top: none;
    border-bottom: none;
  }

  .social__item {
    display: flex;

    margin-right: 10px;
    margin-left: 10px;
  }

  .social__link {
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .social__link--vk {
    background-image: url("../img/icon-vk.svg");
    background-size: 33px;
  }

  .social__link--inst {
    margin-top: 1px;
    margin-left: 2px;
    background-image: url("../img/icon-insta.svg");
    background-size: 23px;
  }

  .social__link--fb {
    margin-top: 1px;
    margin-left: 4px;
    background-image: url("../img/icon-fb.svg");
    background-position: 0 50%;
    background-size: 15px;
  }

  .social__link-academy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -26px;
    margin-left: -1px;
  }

  .social__academy-text {
    font-weight: 400;
    font-size: 16px;
    font-family: "Arial", "Helvetica", sans-serif;

    color: #666666;
  }

  .social__academy-logo {
    margin-top: -3px;
    margin-left: 16px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    position: relative;
  }

  .footer__card {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 570px;
    margin-top: 95px;
    margin-bottom: 34px;
    margin-left: 0;
    padding-top: 39px;
    padding-right: 74px;
    padding-left: 76px;
    background-color: white;
  }

  .footer__card-form {
    padding-top: 0;
    margin-bottom: -3px;
  }

  .footer__card-catalog {
    background-color: $grey-bg;
    padding-top: 0;
  }

  .footer__welcome {
    width: 140px;
    margin-bottom: 60px;
    margin-top: 26px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    word-wrap: normal;
  }

  .footer__adress {
    width: 170px;
    margin-top: 24px;
    margin-right: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: left;
  }

  .footer__adress-city {
    margin-top: 20px;
  }

  .footer__container-map {
    width: 100%;
    height: 395px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-bottom: 0;
    background-size: cover;
    background-color: $grey-bg;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .footer__container-map::before {

    content: "";
    position: absolute;

    width: 100%;
    height: 396px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }

  .footer__map {
    width: 100%;
    height: 396px;
  }

  .footer__container-desk {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $grey-bg;
  }

  .footer__container-bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 55px;
    padding-left: 7.6%;
    padding-right: 7.6%;
    background-color: none;
  }

  .social__logo-footer {
    display: inline-block;
    width: 129px;
    height: auto;
    margin-top: 11px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-image: url("../img/logo-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .footer__social {
    display: flex;
  }

  .social__block {
    margin-right: -12px;
    margin-left: 10px;
  }

  .social__items {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-self: center;
    margin-top: 6px;

    padding: 0 0 20px 11px;
    border-top: none;
    border-bottom: none;
  }

  .social__item {
    display: flex;

    margin-right: 10px;
    margin-left: 10px;
  }

  .social__link {
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .social__link--vk {
    background-image: url("../img/icon-vk.svg");
    background-size: 33px;
  }

  .social__link--inst {
    margin-top: 1px;
    margin-left: 2px;
    background-image: url("../img/icon-insta.svg");
    background-size: 23px;
  }

  .social__link--fb {
    margin-top: 1px;
    margin-left: 4px;
    background-image: url("../img/icon-fb.svg");
    background-position: 0 50%;
    background-size: 15px;
  }

  .social__link-academy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -26px;
    margin-left: -1px;
  }

  .social__academy-text {
    font-weight: 400;
    font-size: 16px;
    font-family: "Arial", "Helvetica", sans-serif;

    color: #666666;
  }

  .social__academy-logo {
    margin-top: -3px;
    margin-left: 16px;
  }
}
