.footer__card {
  display: flex;
  flex-wrap: wrap;
}

.footer__welcome {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer__adress {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  width: 140px;
}

.footer__container-map {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: $grey-bg;
  padding-bottom: 33px;

}

#map {
  width: 100%;
  height: 360px;
  // margin-bottom: 25px;
}

.footer__logo {
  width: 280px;
  height: 49px;
  background-image: url(/img/logo-mobile.svg);
  background-repeat: no-repeat;
  background-position: -44px 0px;
  margin-bottom: 20px;

}

.footer__container-bottom {
  background-color: $grey-bg;
}

.social__items {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2px 0 2px 0;
  align-self: center;
  padding: 20px 0 20px 0;
}

.social__item {
  display: flex;
  margin-left: 17px;
  margin-right: 17px;

}

.social__link {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link--vk {
  background-image: url(/img/icon-vk-mobile.svg);
}

.social__link--inst {
  background-image: url(/img/icon-insta-mobile.svg);
  background-size: 16px;
}

.social__link--fb {
  background-image: url(/img/icon-fb-mobile.svg);
  background-position: 0% 50%;
}

.social__link-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link-academy--text {
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  font-weight: 400;
  font-size: 16px;
}
