.footer {
  position: relative;
}

.footer__card {
  display: flex;

  flex-wrap: wrap;
}

.footer__card-catalog {
  background-color: $grey-bg;
}

.footer__welcome {

  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.footer__adress {

  width: 140px;
  margin-top: 21px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
}

.footer__container-map {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 33px;

  background-color: $grey-bg;
  background-image: url("../img/bg-map-mobile@1x.png");
}

.footer__container-map::before {

  content: "";
  position: absolute;

  width: 320px;
  height: 400px;

  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.footer__map {
  width: 100%;
  height: 360px;
}

.footer__logo {
  width: 280px;
  height: 49px;
  margin-bottom: 20px;

  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: -44px 0;
}

.footer__container-bottom {
  background-color: $grey-bg;
}

.social__items {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-self: center;

  padding: 20px 0 20px 0;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  display: flex;

  margin-right: 17px;
  margin-left: 17px;
}

.social__link {
  width: 22px;
  height: 22px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link--vk {
  background-image: url("../img/icon-vk-mobile.svg");
}

.social__link--inst {
  background-image: url("../img/icon-insta-mobile.svg");
  background-size: 16px;
}

.social__link--fb {
  background-image: url("../img/icon-fb-mobile.svg");
  background-position: 0 50%;
}

.social__link-academy {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.social__link-academy--text {
  font-weight: 400;
  font-size: 16px;
  font-family: "Arial", "Helvetica", sans-serif;

  color: #666666;
}
