.intro__desk-green::before {
  content: "";
  position: absolute;
  top: 0;
  right: 1px;
  z-index: -1;
  width: 100%;
  height: 63.6%;
  background-color: $green-bg;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro {
  position: relative;
  margin-bottom: 7.1%;
}

.intro__img-food {
  width: 100%;
}

.intro__title {
  margin-top: 0;
  margin-bottom: 8.9%;
  padding-top: 9.6%;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  text-align: center;

  color: white;
}

.intro__lead {
  margin-bottom: 10.3%;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  text-align: center;

  color: white;
  text-transform: uppercase;
}

.intro__link {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-bottom: 0;
  }

  .intro__desk-green::before {
    content: "";
    position: absolute;

    width: 0;
    height: 0;
    background-color: none;
    background-image: none;
  }

  .intro__title {
    width: 620px;
    margin-top: 42px;
    margin-bottom: 41px;
    margin-left: 12.3%;
    padding: 0;
    padding-right: 200px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }

  .intro__lead {
    margin-bottom: 20px;
    padding: 0;
    padding-left: 12.4%;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }

  .intro__img-food {
    width: 709px;
    height: 609px;
    margin-right: auto;
    margin-left: auto;
  }

  .intro__link {
    position: absolute;
    top: 229px;
    left: 15.5%;
    padding-top: 16px;
    padding-right: 29px;
    padding-bottom: 16px;
    padding-left: 25px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-bottom: 80px;
  }

  .intro__desk-green::before {
    content: "";
    position: absolute;
    top: -128px;
    right: 1px;
    z-index: -1;
    width: 50%;
    height: 711px;
    background-color: $green-bg;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 15px;
    background-size: 720px;
  }

  .intro__container {
    display: flex;
  }

  .intro__block {
    position: relative;
    width: 500px;
    margin-bottom: 270px;
    margin-left: 19px;
  }

  .intro__title {
    width: 500px;
    margin-top: 109px;
    margin-bottom: 42px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }

  .intro__lead {
    margin-bottom: 22px;
    padding: 0;
    padding-left: 61px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }

  .intro__img {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 67px;
    margin-left: -69px;
  }

  .intro__img-food {
    position: absolute;
    top: 29px;
    left: 86%;
    width: 554px;
    height: 499px;
    margin-right: auto;
    margin-left: auto;
  }

  .intro__link {
    position: absolute;
    top: 343px;
    left: 61px;
    padding-top: 16px;
    padding-right: 29px;
    padding-bottom: 16px;
    padding-left: 25px;
    font-size: 20px;
    line-height: 20px;
  }
}
