.intro-container {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.intro {
  margin-bottom: 22px;
}

.intro__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 27px;

  text-align: center;

  color: white;
}

.intro__lead {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  margin-bottom: 29px;

  text-align: center;
  text-transform: uppercase;

  color: white;
}

.intro__link {
  margin-bottom: 0;
}
