@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

$main-font: "Oswald", "arial", serif;
$font-color: #111111;
$green-bg: #65a93c;
$grey-bg: #f2f2f2;

body {
  font-family: $main-font;
  color: $font-color;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

a {
  font-family: $main-font;
  color: $font-color;
  font-weight: 400;
  text-decoration: none;
}

li {
  list-style: none;
}

.button {
  display: block;
  color: white;
  background-color: $green-bg;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 72px 10px 72px;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}

@import "container/container.scss";
@import "header__container/header__container.scss";
@import "main-nav/main-nav.scss";
@import "visually-hidden/visually-hidden.scss";
@import "intro/intro.scss";
@import "program-selection/program-selection.scss";
@import "list/list.scss";
@import "example/example.scss";
@import "footer__card/footer__card.scss";
