.example {
  margin-bottom: 8px;
}

.example__container {
  background-color: $grey-bg;
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  margin-top: -1px;
  margin-bottom: 22px;
}

.example__text {
  font-family: "Arial", "Helvetica", sans-serif;

  width: 270px;
  margin-bottom: 0;
}

.example__item {
  display: flex;

  justify-content: space-between;
}

.example__item-stats {
  display: flex;
}

.example__stats-value {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  position: relative;

  width: 100px;
  padding: 15px 10px 15px 10px;

  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 5px;

  align-items: stretch;
}

.example__stats-value--kg::after {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;

  position: absolute;
  bottom: -18px;
  left: 20px;

  width: 60px;
  padding: 0 10px 0 10px;

  content: "снижение веса";
  text-align: center;
  text-transform: lowercase;

  background-color: $grey-bg;

  align-items: stretch;
}

.example__stats-value--date::after {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;

  position: absolute;
  bottom: -18px;
  left: 20px;

  width: 60px;
  padding: 0 10px 0 10px;

  content: "затрачено времени";
  text-align: center;
  text-transform: lowercase;

  background-color: $grey-bg;

  align-items: stretch;
}

.example__price {
  margin-bottom: 34px;

  text-align: center;
  text-transform: uppercase;
}

.example__slider {
  position: relative;

  padding-bottom: 35px;
}

.example__slider-img {
  margin-bottom: 32px;
  margin-left: -20px;
}

.example__slider-img--before {
  display: none;
}

.example__slider-img--after {
  display: none;
}

.example__slider-input {
  display: none;
}

.example-input-before:checked ~ .example__slider-img--before {
  display: block;
}

.example-input-after:checked ~ .example__slider-img--after {
  display: block;
}

.example__toggle-label {
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.example__toggle-label--before {
  margin-right: 115px;
  margin-left: 44px;
}

.example__toggle-scale {
  position: absolute;
  top: 275px;
  left: 100px;

  width: 81px;
  height: 12px;

  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: white;
}

.example__toggle-scale::before {
  position: absolute;
  top: 3px;
  left: 5px;

  width: 35px;
  height: 6px;

  content: "";
  transition: left ease-in 0.2s;

  border-radius: 10px;
  background-color: $green-bg;
}

.example-input-after:checked ~ .example__toggle-scale::before {
  position: absolute;
  top: 3px;
  left: 40px;

  width: 35px;
  height: 6px;

  content: "";
  transition: left ease-in 0.2s;

  border-radius: 10px;
  background-color: $green-bg;
}
