.example__container {
  padding-bottom: 10px;
  background-color: $grey-bg;
}

.example__title {
  margin-top: -1px;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.example__text {
  width: 95%;
  margin-bottom: 0;
  font-family: "Arial", "Helvetica", sans-serif;
}

.example__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__item-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.example__item-stats {
  display: flex;
}

.example__stats-value {
  position: relative;

  align-items: stretch;

  width: 124px;
  padding: 15px 11px 15px 11px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__stats-value--kg::after {
  content: "снижение веса";

  position: absolute;
  bottom: -18px;
  left: 23px;

  align-items: stretch;

  width: 74px;
  padding: 0 10px 0 10px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-transform: lowercase;

  background-color: $grey-bg;
}

.example__stats-value--date::after {
  content: "затрачено времени";

  position: absolute;
  bottom: -18px;
  left: 23px;

  align-items: stretch;

  width: 74px;
  padding: 0 10px 0 10px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-transform: lowercase;

  background-color: $grey-bg;
}

.example__price {
  width: 100%;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
}

.example__slider {
  position: relative;
  margin-top: 0;
  padding-bottom: 18px;
}

.example__slider-img {
  margin-bottom: 17px;
  background-position: 50% 50%;
}

.example__slider-img--before {
  width: 100%;
  height: 257px;
  margin-left: 0;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px;
  opacity: 0;
  transition: opacity ease-in 0.3s;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
    background-size: 320px;
  }
}

.example__slider-img--after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 257px;
  margin-left: 0;
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px;
  opacity: 0;
  transition: opacity ease-in 0.3s;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/after-mobile@2x.png");
    background-size: 320px;
  }
}

.example__slider-input {
  display: none;
}

.example__slider-input--before:checked ~ .example__slider-img--before {
  display: block;
  width: 100%;
  height: 257px;
  margin-bottom: 24px;
  opacity: 1;
  transition: opacity ease-in 0.3s;
}

.example__slider-input--after:checked ~ .example__slider-img--after {
  display: block;
  width: 100%;
  height: 257px;
  opacity: 1;
  transition: opacity ease-in 0.3s;
}

.example__toggle-control {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 215px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 8px;
}

.example__toggle-label {
  margin-left: 5px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__toggle-scale {
  width: 85px;
  height: 14px;
  margin-top: -2px;
  margin-left: 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

.example__toggle-scale::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 72px;
  width: 35px;
  height: 6px;
  background-color: $green-bg;

  border-radius: 10px;
  transition: left ease-in 0.3s;
}

.example__slider-input--after:checked ~ .example__toggle-control .example__toggle-scale::before {
  content: "";
  position: absolute;
  left: 106px;

  width: 35px;
  height: 6px;
  background-color: $green-bg;

  border-radius: 10px;
  transition: left ease-in 0.3s;
}

.example__price-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    margin-bottom: 79px;
  }

  .example__container {
    margin-bottom: -10px;
    background-color: white;
  }

  .example__title {
    margin-top: 42px;
    margin-bottom: 65px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", "Helvetica", sans-serif;
  }

  .example__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .example__item-block {
    display: flex;
    justify-content: space-between;
  }

  .example__item-stats {
    display: flex;
    margin-right: 42px;
  }

  .example__stats-value {
    position: relative;

    align-items: stretch;

    width: 162px;
    padding: 17px 29px 20px 28px;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;

    text-align: center;
    text-transform: uppercase;

    border: 1px solid #cdcdcd;
    border-radius: 5px;
  }

  .example__stats-value--kg::after {
    content: "снижение веса";

    position: absolute;
    bottom: -5px;
    left: 20px;

    align-items: stretch;

    width: 120px;
    padding: 0 10px 0 10px;
    font-size: 14px;
    line-height: 14px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    text-transform: lowercase;

    background-color: white;
  }

  .example__stats-value--date::after {
    content: "затрачено времени";

    position: absolute;
    bottom: -5px;
    left: 10px;

    align-items: stretch;

    width: 138px;
    padding: 0 5px 0 5px;
    font-size: 14px;
    line-height: 14px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    text-transform: lowercase;

    background-color: white;
  }

  .example__price {
    width: 190px;
    margin-top: 38px;
    margin-right: 0;
    margin-left: 109px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    text-transform: uppercase;
  }

  .example__slider {
    position: relative;
    margin-top: 0;
    padding-bottom: 17px;
  }

  .example__slider-img {
    margin-bottom: 32px;
    background-position: 50% 50%;
  }

  .example__slider-img--before {
    width: 100%;
    height: 550px;
    margin-left: 7px;

    background-image: url("../img/before-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 690px;
    opacity: 0;
    transition: opacity ease-in 0.3s;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
      background-size: 690px;
    }
  }

  .example__slider-img--after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 550px;
    margin-left: 7px;

    background-image: url("../img/after-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 690px;
    opacity: 0;
    transition: opacity ease-in 0.3s;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
      background-size: 690px;
    }
  }

  .example__slider-input {
    display: none;
  }

  .example__slider-input--before:checked ~ .example__slider-img--before {
    display: block;
    width: 100%;
    height: 550px;
    margin-bottom: 32px;
    opacity: 1;
    transition: opacity ease-in 0.3s;
  }

  .example__slider-input--after:checked ~ .example__slider-img--after {
    display: block;
    width: 100%;
    height: 550px;
    opacity: 1;
    transition: opacity ease-in 0.3s;
  }

  .example__toggle-control {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80.7%;
    margin-top: -31px;
    margin-right: auto;
    margin-left: auto;
  }

  .example__toggle-label {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    border-bottom: dotted 1px rgba($color: #111111, $alpha: 0.23);
    padding-bottom: 6px;
  }

  .example__toggle-control:hover .example__toggle-label {
    border-bottom: solid 1px rgba($color: #111111, $alpha: 0.23);
  }

  .example__toggle-control:active .example__toggle-label {
    border-bottom: solid 1px rgba($color: #111111, $alpha: 0);
  }

  .example__toggle-scale {
    width: 80%;
    height: 6px;
    background-color: #cdcdcd;

    border: none;
    border-radius: 10px;
  }

  .example__toggle-scale::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 9.5%;
    width: 32px;
    height: 32px;
    background-color: $green-bg;
    border: 12px solid white;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #cdcdcd;
    transition: left ease-in 0.3s;
  }

  .example__toggle-control:hover .example__toggle-scale::before {
    box-shadow: 0 2px 9px 1px #cdcdcd;
  }

  .example__toggle-control:active .example__toggle-scale::before {
    box-shadow: 0 0 1px 1px $green-bg;
  }

  .example__slider-input--after:checked ~ .example__toggle-control:active .example__toggle-scale::before {
    box-shadow: 0 0 1px 1px $green-bg;
  }

  .example__slider-input--after:checked ~ .example__toggle-control:hover .example__toggle-scale::before {
    box-shadow: 0 2px 9px 1px #cdcdcd;
  }

  .example__slider-input--after:checked ~ .example__toggle-control .example__toggle-scale::before {
    content: "";
    position: absolute;
    top: -6px;
    // left: 55px;
    left: 85%;
    width: 32px;
    height: 32px;
    background-color: $green-bg;
    border: 12px solid white;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #cdcdcd;
    transition: left ease-in 0.3s;
  }

  .example__container-full {
    position: absolute;
    bottom: -37px;
    width: 100%;
    height: 462px;
    background-color: #e9e9e9;
  }

  .example__price-desktop {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .example {
    position: relative;
    margin-bottom: 10px;
  }

  .example__container {
    position: relative;
    margin-bottom: -10px;
    background-color: rgba(255, 255, 255, 0);
  }

  .example__title {
    margin-top: 22px;
    margin-bottom: 146px;
    margin-left: 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    width: 470px;
    margin-bottom: 38px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", "Helvetica", sans-serif;
  }

  .example__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .example__item-block {
    display: flex;
    justify-content: space-between;
    width: 366px;
    margin-left: 0;
  }

  .example__item-stats {
    display: flex;
    margin-right: 0;
  }

  .example__stats-value {
    position: relative;

    align-items: stretch;

    width: 162px;
    padding: 15px 10px 18px 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;

    text-align: center;
    text-transform: uppercase;

    border: 1px solid #cdcdcd;
    border-radius: 5px;
  }

  .example__stats-value--kg::after {
    content: "снижение веса";

    position: absolute;
    bottom: -6px;
    left: 20px;

    align-items: stretch;

    width: 119px;
    padding: 0 10px 0 10px;
    font-size: 14px;
    line-height: 14px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    text-transform: lowercase;

    background-color: #f2f2f2;
  }

  .example__stats-value--date::after {
    content: "затрачено времени";

    position: absolute;
    bottom: -6px;
    left: 10px;

    align-items: stretch;

    width: 139px;
    padding: 0 5px 0 5px;
    font-size: 14px;
    line-height: 14px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    text-transform: lowercase;

    background-color: #f2f2f2;
  }

  .example__price {
    display: none;
  }

  .example__price-desktop {
    display: flex;
    justify-content: space-between;
    width: 328px;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 0;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
  }

  .example__slider {
    position: absolute;
    top: -659px;
    right: 27px;
    width: 50%;
    margin-top: 0;
    padding-bottom: 17px;
  }

  .example__slider-img {
    margin-bottom: 32px;
    background-position: 50% 50%;
  }

  .example__slider-img--before {
    width: 100%;
    height: 550px;
    margin-left: 7px;

    background-image: url("../img/before-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 690px;
    opacity: 0;
    transition: opacity ease-in 0.3s;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");
      background-size: 690px;
    }
  }

  .example__slider-img--after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 550px;
    margin-left: 7px;

    background-image: url("../img/after-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 690px;
    opacity: 0;
    transition: opacity ease-in 0.3s;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-desktop@2x.png");
      background-size: 690px;
    }
  }

  .example__slider-input {
    display: none;
  }

  .example__slider-input--before:checked ~ .example__slider-img--before {
    display: block;
    width: 100%;
    height: 550px;
    margin-bottom: 32px;
    opacity: 1;
    transition: opacity ease-in 0.3s;
  }

  .example__slider-input--after:checked ~ .example__slider-img--after {
    display: block;
    width: 100%;
    height: 550px;
    opacity: 1;
    transition: opacity ease-in 0.3s;
  }

  .example__toggle-control {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87.6%;
    margin-top: -8px;
    margin-right: auto;
    margin-left: 66px;
  }

  .example__toggle-label {
    font-size: 20px;
    line-height: 20px;

    text-transform: uppercase;
  }

  .example__toggle-scale {
    width: 77%;
    height: 6px;
    background-color: #cdcdcd;

    border: none;
    border-radius: 10px;
  }

  .example__toggle-scale::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 9.5%;
    width: 32px;
    height: 32px;
    background-color: $green-bg;
    border: 12px solid white;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #cdcdcd;
    transition: left ease-in 0.3s;
  }

  .example__slider-input--after:checked ~ .example__toggle-control .example__toggle-scale::before {
    content: "";
    position: absolute;
    top: -6px;
    // left: 55px;
    left: 85%;
    width: 32px;
    height: 32px;
    background-color: $green-bg;
    border: 12px solid white;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #cdcdcd;
    transition: left ease-in 0.3s;
  }

  .example__container-full {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 462px;
    background-color: #f2f2f2;
  }
}
