.example__container {
  background-color: $grey-bg;
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

.example__text {
  font-family: Arial, Helvetica, sans-serif;
  width: 270px;
}

.example__item {
  display: flex;
  justify-content: space-between;
}

.example__stats-value {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 15px 10px 15px 10px;
  text-align: center;
  width: 100px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.example__stats-value--kg::after {
  content: "снижеие веса";
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  align-items: stretch;
  background-color: $grey-bg;
  width: 60px;
  padding: 0 10px 0 10px;
  text-align: center;
  bottom: -20px;
  left: 20px;
}

.example__stats-value--date::after {
  content: "затрачено времени";
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  align-items: stretch;
  background-color: $grey-bg;
  width: 60px;
  padding: 0 10px 0 10px;
  text-align: center;
  bottom: -20px;
  left: 20px;
}

.example__price {
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  position: relative;
  padding-bottom: 35px;
}

.example__slider-img {
  margin-left: -20px;
  margin-bottom: 32px;
}

.example__slider-img--before {
  display: none;
}

.example__slider-img--after {
  display: none;
}

.example__slider-input {
  display: none;
}

#example-input-before:checked ~ .example__slider-img--before {
  display: block;
}

#example-input-after:checked ~ .example__slider-img--after {
  display: block;
}

.example__toggle-label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__toggle-label--before {
  margin-right: 115px;
  margin-left: 44px;
}

.example__toggle-scale {
  position: absolute;
  left: 100px;
  top: 275px;
  width: 81px;
  height: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: white;
}

.example__toggle-scale::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  top: 3px;
  left: 5px;
  border-radius: 10px;
  background-color: $green-bg;
  transition: left ease-in 0.2s;
}

#example-input-after:checked ~ .example__toggle-scale::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  top: 3px;
  left: 40px;
  border-radius: 10px;
  background-color: $green-bg;
  transition: left ease-in 0.2s;
}
