.programs {
  margin-bottom: 1px;
}

.program-selection {
  display: flex;
  flex-direction: column;

  margin-bottom: 0;
}

.program-selection__item {
  position: relative;

  margin-bottom: 20px;
  padding: 29px 19px 20px 19px;

  background-color: $grey-bg;
}

.program-selection__title {

  margin-top: 0;
  margin-bottom: 12%;
  margin-left: 30%;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;

  text-align: left;
  text-transform: uppercase;
}

.program-selection__desc {

  margin-bottom: 8%;
  padding-bottom: 9%;
  font-family: "Arial", "Helvetica", sans-serif;

  border-bottom: 1px solid #444444;
}

.program-selection__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
}

.program-selection__link:active {
  color: rgba($color: #111111, $alpha: 0.3);
  transition: color ease-in-out 0.3s;
}

.program-selection__link:active::after {
  opacity: 0.3;
  transition: opacity ease-in-out 0.3s;
}

.program-selection__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 96px;

  width: 25px;
  height: 23px;

  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  transition: all ease-in 0.3s;
}

.program-selection__link:hover::after {
  content: "";
  position: absolute;
  bottom: 6%;

  width: 13%;
}

.program-selection__title--slim::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 30px;
  z-index: 1;
  width: 49px;
  height: 49px;

  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.program-selection__title--slim::after {

  content: "";
  position: absolute;
  top: 24px;
  left: 22px;

  width: 50px;
  height: 50px;
  background-color: $green-bg;

  border-radius: 50%;
}

.program-selection__title--pro::before {

  content: "";
  position: absolute;
  top: 35px;
  left: 13px;
  z-index: 1;
  width: 67px;
  height: 52px;

  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

.program-selection__title--pro::after {

  content: "";
  position: absolute;
  top: 24px;
  left: 22px;

  width: 50px;
  height: 50px;
  background-color: $green-bg;

  border-radius: 50%;
}


@media (min-width: $tablet-width) {
  .program-selection__item {
    margin-bottom: 29px;
    padding: 72px 47px 60px 50px;
  }

  .program-selection__title {
    margin-top: 2px;
    margin-bottom: 26px;
    margin-left: 3px;
    font-size: 36px;
  }

  .program-selection__desc {
    width: 55%;
    margin-bottom: 3px;
    // width: 372px;
    margin-left: 1px;
    padding: 0 0 53px 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .program-selection__link {
    position: relative;
    margin-left: 3px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .program-selection__title--slim::before {
    top: 78px;
    left: 67.1%;


    width: 195px;
    height: 195px;
  }

  .program-selection__title--slim::after {
    top: 90px;
    left: 63%;

    width: 200px;
    height: 200px;
  }

  .program-selection__title--pro::before {

    top: 135px;
    left: 58.2%;

    width: 268px;
    height: 268px;
  }

  .program-selection__title--pro::after {

    top: 91px;
    left: 63.1%;

    width: 200px;
    height: 200px;
  }

  .program-selection__link::after {

    content: "";
    position: absolute;
    top: 10px;
    left: 128px;

    width: 25px;
    height: 23px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    transition: all ease-in 0.2s;
  }

  .program-selection__link:hover::after {

    content: "";
    position: absolute;
    bottom: 6%;

    width: 13%;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 0;
    padding: 0;
  }

  .program-selection__item {
    width: 570px;
    margin-bottom: 73px;
    padding: 73px 0 59px 50px;
  }

  .program-selection__title {
    margin-top: 3px;
    margin-bottom: 74px;
    margin-left: 165px;
    font-size: 36px;
  }

  .program-selection__desc {
    width: 450px;
    margin-bottom: 0;
    margin-left: 2px;
    padding: 0 0 32px 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .program-selection__link {
    position: relative;
    margin-left: 3px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .program-selection__title--slim::before {
    top: 41px;
    left: 66px;


    width: 97px;
    height: 97px;
  }

  .program-selection__title--slim::after {
    top: 47px;
    left: 52px;

    width: 100px;
    height: 100px;
  }

  .program-selection__title--pro::before {

    top: 69px;
    left: 34px;


    width: 135px;
    height: 136px;
  }

  .program-selection__title--pro::after {

    top: 47px;
    left: 52px;

    width: 100px;
    height: 100px;
  }

  .program-selection__link::after {

    content: "";
    position: absolute;
    top: 9px;
    left: 127px;

    width: 26px;
    height: 23px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    transition: all ease-in 0.2s;
  }

  .program-selection__link:hover::after {

    content: "";
    position: absolute;
    bottom: 0;

    width: 30px;
  }
}
