.program-selection {
  display: flex;
  flex-direction: column;

  margin-bottom: 0;
}

.program-selection__item {
  position: relative;

  margin-bottom: 20px;
  padding: 30px 20px 20px 20px;

  background-color: $grey-bg;
}

.program-selection__title {

  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 71px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;

  text-align: left;
  text-transform: uppercase;
}

.program-selection__desc {

  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "Arial", "Helvetica", sans-serif;

  border-bottom: 1px solid #444;
}

.program-selection__link {

  margin-bottom: 100px;
  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;
}

.program-selection__link::after {

  content: "";
  position: absolute;
  bottom: 11px;
  left: 116px;

  width: 24px;
  height: 24px;

  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  transition: all ease-in 0.2s;
}

.program-selection__link:hover::after {

  content: "";
  position: absolute;
  bottom: 13px;

  width: 35px;
}

.program-selection__title--slim::before {

  content: "";
  position: absolute;
  top: 21px;
  left: 30px;
  z-index: 1;

  width: 50px;
  height: 50px;

  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.program-selection__title--slim::after {

  content: "";
  position: absolute;
  top: 24px;
  left: 22px;

  width: 50px;
  height: 50px;
  background-color: $green-bg;

  border-radius: 50px;
}

.program-selection__title--pro::before {

  content: "";
  position: absolute;
  top: 35px;
  left: 14px;
  z-index: 1;

  width: 65px;
  height: 50px;

  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

.program-selection__title--pro::after {

  content: "";
  position: absolute;
  top: 24px;
  left: 22px;

  width: 50px;
  height: 50px;
  background-color: $green-bg;

  border-radius: 50px;
}
