.social__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.social__logo-footer {
  display: inline-block;
  width: 129px;
  height: 49px;
  margin-top: 12px;
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: opasity ease-in-out 0.3s;
}

.social__logo-footer:hover {
  opacity: 0.8;
  transition: opasity ease-in-out 0.3s;
}

.social__logo-footer:active {
  opacity: 0.6;
  transition: opasity ease-in-out 0.3s;
}

.social__items {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-self: center;
  width: 100%;
  margin-top: 6px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 16px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  display: flex;

  margin-right: 0;
  margin-left: 0;
}

.social__item:hover {
  transition: fill ease-in-out 0.3s;
  fill: $green-bg;
}

.social__item:active {
  opacity: 0.6;
  transition: opasity ease-in-out 0.3s;
}

.social__link {
  width: 22px;
  height: 22px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__item--vk {
  margin-right: 37px;
  margin-top: 5px;
}

.social__link--vk {
  width: 23px;
}

.social__item--inst {
 margin-top: 1px;
 margin-right: 40px;
}

.social__link--inst {
  width: 17px;
}

.social__item--fb {
  margin-bottom: 1px;
  margin-right: 10px;
}

.social__link--fb {
  width: 10px;
}

.social__link-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social__link-academy:active {
  opacity: 0.6;
  transition: opasity ease-in-out 0.3s;
}

.social__link-academy:hover .social__academy-logo--svg {
  fill: $green-bg;
  transition: fill ease-in-out 0.3s;
}

.social__academy-text {
  margin-left: -2px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #666666;
}

@media (min-width: $tablet-width) {
  .social__logo-footer {
    display: inline-block;
    width: 27%;
    height: 48px;
    margin-top: 10px;
    background-image: url("../img/logo-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 130px;
  }

  .footer__social {
    display: flex;
    width: 100%;
  }

  .social__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 32px;
    margin-left: 0;
  }


  .social__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 46%;
    margin-top: 6px;
    padding: 0;
    padding-bottom: 12px;
    border-top: none;
    border-bottom: none;
  }

  .social__item {
    display: flex;

    margin-right: 10px;
    margin-left: 10px;
  }

  .social__link {
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .social__item--vk {
    margin-right: 15px;
    margin-top: 5px;
  }

  .social__link--vk {
    width: 31px;
    margin-top: 5px;
  }

  .social__item--inst {
    margin-top: 1px;
    margin-right: 19px;
  }

  .social__link--inst {
    width: 24px;
    margin-top: 3px;
  }

  .social__item--fb {
    margin-bottom: 1px;
    margin-right: 27px;
  }

  .social__link--fb {
    width: 14px;
    margin-top: 2px;
  }

  .social__link-academy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 27%;
    margin-top: -18px;
    margin-left: -1px;
  }

  .social__academy-text {
    font-weight: 400;
    font-size: 16px;
    font-family: "Arial", "Helvetica", sans-serif;

    color: #666666;
  }

  .social__academy-logo {
    margin-top: -3px;
    margin-left: 16px;
  }
}

@media (min-width: $desktop-width) {
  .social__block {
    margin: 0;
    margin-bottom: 26px;
  }

  .social__logo-footer {
    display: inline-block;
    width: 27%;
    height: 57px;
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-image: url("../img/logo-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 130px;
  }

  .footer__social {
    display: flex;
  }

  .social__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 46%;
    margin-top: 6px;

    padding: 0;
    padding-bottom: 20px;
    border-top: none;
    border-bottom: none;
  }

  .social__item {
    display: flex;

    margin-right: 10px;
    margin-left: 10px;
  }

  .social__link {
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .social__item--vk {
    margin-right: 15px;
    margin-top: 5px;
  }

  .social__link--vk {
    width: 31px;
    margin-top: 5px;
  }

  .social__item--inst {
    margin-top: 1px;
    margin-right: 19px;
  }

  .social__link--inst {
    width: 24px;
    margin-top: 3px;
  }

  .social__item--fb {
    margin-bottom: 1px;
    margin-right: 26px;
  }

  .social__link--fb {
    width: 14px;
    margin-top: 2px;
  }

  .social__link-academy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -23px;
    margin-right: 1px;
    margin-left: -1px;
  }

  .social__academy-text {
    font-weight: 400;
    font-size: 16px;
    font-family: "Arial", "Helvetica", sans-serif;

    color: #666666;
  }

  .social__academy-logo {
    margin-top: -3px;
    margin-left: 16px;
  }
}
