.main-nav__container {
  position: relative;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 750px) {
  .main-nav__logo-link {
    opacity: 1;
    transition: opacity ease-in-out 0.3s;
  }

  .main-nav__logo-link:hover {
    opacity: 0.8;
    transition: opacity ease-in-out 0.3s;
  }

  .main-nav__logo-link:active {
    opacity: 0.6;
    transition: opacity ease-in-out 0.3s;
  }

  .main-nav__logo-img {
    display: inline;

    margin-top: 3.5%;
    margin-right: 0;
    margin-bottom: 4%;
    margin-left: 6.1%;
  }

  .main-nav__logo-img--tablet {
    display: none;
  }

  .main-nav__logo-img--desktop {
    display: none;
  }


  .main-nav__btn-menu {

    display: inline-block;
    float: right;

    width: 20px;
    height: 20px;
    margin-top: 6%;
    margin-right: 25px;
    background-color: rgb(255, 255, 255);

    border: 0;

    cursor: pointer;
  }

  .main-nav__btn-indicator {
    position: absolute;
    top: 0;
    right: 0;

    width: 24px;
    height: 24px;
    margin: 0;
    margin-top: 7.1%;
    margin-left: 6.1%;
    margin-right: 6.1%;
    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
  }

  .main-nav__btn-indicator--close {
    position: absolute;
    top: 0;
    right: 0;

    width: 24px;
    height: 24px;
    margin: 0;
    margin-top: 6%;
    margin-right: 6%;

    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
  }

  .main-nav__items {
    display: none;
    margin: 0;
    padding: 0;
  }

  .menu-open {
    display: flex;
    flex-direction: column;
  }

  .main-nav__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    text-align: center;

    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }

  .main-nav__link {
    display: block;

    padding-top: 7%;
    padding-right: 10%;
    padding-bottom: 7%;
    padding-left: 10%;

    overflow-wrap: break-word;
    transition: opacity ease-in-out 0.3s;
  }

  .main-nav__link:hover {
    opacity: 0.6;
    transition: opacity ease-in-out 0.3s;
  }

  .main-nav__link:active {
    opacity: 0.3;
    transition: opacity ease-in-out 0.3s;
  }

  .main-nav__link--active:hover,
  .main-nav__link--active-green:hover {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 708px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    padding-right: 30px;
    padding-left: 30px;
  }

  .main-nav__logo-img {
    display: none;
  }

  .main-nav__logo-img--desktop {
    display: none;
  }

  .main-nav__logo-img--tablet {
    position: relative;
    display: block;
    width: 173px;
    margin-top: 18px;
    margin-right: 62px;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .main-nav__btn-indicator {
    display: none;
  }

  .main-nav__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
    margin-top: 45px;
    margin-left: 33px;
    padding-left: 0;
  }

  .main-nav__item {
    position: relative;
    padding: 0;
    border: none;
  }

  .main-nav__link {
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
  }

  .main-nav__link--active::after {
    content: " ";
    position: absolute;
    top: 29px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $green-bg;
  }

  .main-nav__link--active-green::after {
    content: " ";
    position: absolute;
    top: 29px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #65a93c;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-img {
    display: none;
  }

  .main-nav__logo-img--tablet {
    display: none;
  }

  .main-nav__logo-img--desktop {
    display: block;
    margin-top: 54px;
    margin-left: 10px;
  }


  .main-nav__btn-menu {
    display: none;
  }

  .main-nav__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 480px;
    margin-top: 73px;
    margin-right: 9px;
    margin-left: 0;
  }

  .main-nav__item {
    position: relative;
    padding: 0;
    border: none;
  }

  .main-nav__link {
    padding: 0;
    font-size: 20px;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
  }

  .main-nav__link--black {
    padding: 0;
    font-size: 20px;
    line-height: 25px;
    color: black;
    text-transform: uppercase;
  }


  .main-nav__link--active::after {
    content: " ";
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .main-nav__link--active-green::after {
    content: " ";
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #65a93c;
  }
}
