.energy-logo__img {
  display: inline;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 12px;
  margin-bottom: 10px;
}


.main-nav__btn-menu {
  display: block;
  position: absolute;
  border: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: 256px;
  margin-top: -45px;
  background-color: rgb(255, 255, 255);
}

.main-nav__btn-indicator {
  position: relative;
  width: 24px;
  height: 2px;
  transform: rotate(45deg);
  margin-left: -5px;
  background-color: rgb(0, 0, 0);
}

.main-nav__btn-indicator::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  transform: rotate(-90deg);
  margin-left: -12px;
  background-color: rgb(0, 0, 0);
}

.main-nav__items {
  display: none;
  padding: 0;
  margin: 0;
}

.menu-open{
  display: flex;
    flex-direction: column
}

#menu:checked ~ .main-nav__items {
  display: block;
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
}

.main-nav__link {
  overflow-wrap: break-word;
  display: block;
  padding: 23px 70px 23px 70px;
}
