.energy-logo__img {
  display: inline;

  margin-top: 3.5%;
  margin-right: 0;
  margin-bottom: 4%;
  margin-left: 6.1%;
}

.energy-logo__img-tablet {
  display: none;
}

.energy-logo__img-desktop {
  display: none;
}


.main-nav__btn-menu {

  display: inline-block;

  width: 20px;
  height: 20px;
  margin-top: 6%;
  float: right;
  margin-right: 25px;
  background-color: rgb(255, 255, 255);

  border: 0;

  cursor: pointer;
}

.main-nav__btn-indicator {
  position: relative;

  width: 24px;
  height: 24px;
  margin-top: 2px;
  margin-left: -5px;

  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

.main-nav__btn-indicator--close {
  position: relative;

  margin-top: 0;

  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
}

.main-nav__items {
  display: none;

  margin: 0;
  padding: 0;
}

.menu-open {
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  text-align: center;

  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__link {
  display: block;

  padding: 7% 10% 7% 10%;

  overflow-wrap: break-word;
}

@media (min-width: $tablet-width) {
  .energy-logo__img {
    display: none;
  }
  .energy-logo__img-desktop {
    display: none;
  }


  .energy-logo__img-tablet {
    display: block;
    position: relative;
    width: 170px;
    margin-top: 4px;
    margin-right: 62px;
    margin-bottom: 10px;
    margin-left: 2px;
  }
  .main-nav__btn-menu {
    display: none;
  }

  .main-nav__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
    margin-top: 45px;
    margin-left: 33px;
  }

  .main-nav__item {
    position: relative;
    padding: 0;
    border: none;
  }

  .main-nav__link {
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
  }

  .main-nav__link--active::after {
    content: " ";
    position: absolute;
    top: 29px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $green-bg;
  }
}

@media (min-width: $desktop-width) {
  .energy-logo__img {
    display: none;
  }

  .energy-logo__img-tablet {
    display: none;
  }

  .energy-logo__img-desktop {
    display: block;
    margin-left: 40px;
    margin-top: 39px;
  }


  .main-nav__btn-menu {
    display: none;
  }

  .main-nav__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 480px;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 38px;
  }

  .main-nav__item {
    position: relative;
    padding: 0;
    border: none;
  }

  .main-nav__link {
    padding: 0;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: white;
  }

  .main-nav__link--active::after {
    content: " ";
    position: absolute;
    top: 33px;
    left: -1px;
    width: 100%;
    height: 2px;
    background-color: white;
  }
}
