.container {
  min-width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px 0 20px;
}

@media (min-width : $tablet-width) {
  .container {
    min-width: 708px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px 0 30px;
  }
}
